*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
   background-color: ;
}
.container{
    max-width: 900px;
    margin:0px auto;
    background:rgba(130, 118, 147, 0.769);
}
.apply-box{
 background-color: lightcoral;
 max-width: 600px;
 padding: 20px;
 margin: 0px auto;
 margin-top: 50px;
 border: 1px solid rgb(255, 255, 255,o.3);
 box-shadow: 0 4px rgb(255, 255, 255,blue);
 border-radius: 5%;
 color:black;
 }
 .form-container{
    margin-top:50px;
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
    gap: 18px;
 }
 .form-control{
    display:flex;
    flex-direction:column;  
 }
 label{
    font-size:20px ;
    margin-bottom: 5px;
 }
 input,select,textarea{
    padding: 6px 10px;
    border: 1px solid;
    border-radius: 4px;
    background-color:rgb(238, 212, 215);
    font-size: 15px;
 }
 input:focus{
    outline-color: royalblue;
 }
 .button-container{
    display: flex;
    justify-content: end;
    margin-top: 20px;
 }
 button{
    background-color: royalblue;
    border: transparent solid 8px;
    color: white;
    border-radius: 10px;
    font-style:20px;
 }
span{
   color:darkred;
}
.textarea-control{
   grid-column: 1/span 2;
}
.textarea-control textarea{
   width: 100%;
}
@media(max-width:460px){
   .textarea-control{
      grid-column: 1/ span 1;
   }
}
textarea:focus{
   outline-color: royalblue;
}

