* {
    margin: 0;
    padding: 0;
}

.navicon {
    display: none;
}

section {
    min-height: 80vh;
    padding: 50px;
}

body {
    background-image: linear-gradient(to top, #50cc7f 0%, #f5d100 100%);
    /* background-color: black; */
}

header {
    display: flex;
    flex-direction: row;
    justify-content: right;
    background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
    /* background-color: rgba(0, 0, 0, 0.546); */
    /* height: 40px; */
    padding: 25px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 30px grey;
    border-radius: 10px;
}

.navi {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-decoration: none;
}

.first{
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
}
.profileimg img {
    margin-top: 100px;
    width: 480px;
    height:580px;
    border: 5px solid rgb(45, 1, 1);
    border-radius: 10px;
    box-shadow: 10px 9px 5px -3px rgba(255,0,0,0.56);
}
.profile {
    margin-top: 120px;
    text-align: center;
    line-height: 40px;
}

.profile h1 {
    font-size: 100px;
    font-weight: bolder;
    line-height: 100px;
    border-radius: 23px;
    color:rgba(rgb(210, 55, 55), rgb(30, 232, 30), rgb(6, 6, 161), alpha);
    text-shadow:2px 2px hsla(348, 83%, 47%, 0.5);
}
.profile .designation{
    font-family: 'Courier New', Courier, monospace;
    font-size:25px;
    font-weight: bolder;
    color:green;
    text-shadow: #0800fd;
}

.profile p {
    font-size: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

a {
    font-size: 20px;
    text-decoration: none;
    padding: 10px;
    border-radius: 8px;
    color: #266150
}
.nav a:hover {
    background-color: #0800fd;
    color: rgb(250, 11, 11);
}

.second {
    background-color: #f9faf5;
}

progress {
    width: 100%;
    height: 40px;
    background-color: #266150;
    border-radius: 40px;
    margin-top: 40px;
}
/* For Chrome or Safari */

progress::-webkit-progress-bar {
    background-color: #eeeeee76;
    border-radius: 10px;
}

progress::-webkit-progress-value {
    background-color: #266150 !important;
    border-radius: 40px;
}
.skill p {
    font-size: 20px;
}

.second h1 {
    text-align: center;
    font-weight: bold;
}

.skill div {
    margin-bottom: 20px;
}
.education h1 {
    text-align: center;
}

.colleges {
    margin: 40px;
    line-height: 40px;
}

.colleges div {
    padding: 20px;
}

.colleges h2 {
    color: #266150;
    font-weight: bold;
}

.colleges p {
    color: black;
}

.projects h1 {
    text-align: center;
}

.pro {
    margin: 40px;
    line-height: 40px;
}

.pro div {
    padding: 20px;
}
/*-----Contact Information----*/
#contact{
    background-color: #f9faf5;
}
.foot-nav{
 display: flex;
 flex-direction: column;
}
#contact h1 {
    text-align: center;
}

.cont {
    margin: 40px;
    line-height: 40px;
}

.cont div {
    padding: 20px;
}

@media screen and (max-width: 600px) {
    .section {
        padding: 0px;
        margin: 0px;
    }
    .profileimg img {
        width: 100%;
        height: 400px;
    }
    .first {
        margin-left: 0px;
        padding: 20px;
    }
    .profile p {
        margin-left: 0px;
        margin-right: 0px;
    }
    .second {
        padding: 20px;
    }
    .second h1 {
        margin-bottom: 20px;
    }
    .cont {
        margin: 0px;
    }
    .colleges {
        margin: 0px;
    }
    .education {
        padding: 10px;
    }
    .certificates {
        padding: 10px;
    }
    .certi {
        margin: 0px;
    }
    .projects {
        padding: 10px;
    }
    .pro {
        margin: 0px;
    }
    .contactus {
        padding: 10px;
    }
    .profile {
        margin-top: 10px;
    }
    .first {
        display: flex;
        flex-wrap: wrap;
    }
    .navi {
        display: none;
    }
    .navicon {
        display: block;
        left: 10px;
        margin-left: 10px;
        margin-right: 250px;
    }
    .profileimg img {
        margin-top: 50px;
    }
    /* h1{
            margin-bottom: 40px;
        } */
}

@media screen and (max-width: 600px) {
    .navi a {
        display: none;
    }
    .navi {
        display: flex;
        flex-direction: column;
        width: 100%;
        background-color: white;
    }
}

@media screen and (max-width: 600px) {
    .navi.responsive {
        position: relative;
    }
    .navi.responsive {
        float: none;
        top: 20px;
        padding: 20px;
    }
    .navi.responsive a {
        display: block;
        padding: 0px;
    }
    .education img {
        width: 300px;
        height: 300px;
    }
    .certify img {
        height: 300px;
        width: 300px;
    }
    .project {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    .project img {
        width: 300px;
        height: 300px;
    }
}

.footer img {
    height: 50px;
    width: 50px;
}

.edu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap-reverse;
}

.education img {
    max-height: 600px;
    max-width: 600px;
}
.project {
    display: flex;
    justify-content: space-between;
    /* flex-wrap:wrap-reverse; */
}

.project img {
    max-height: 600px;
    max-width: 600px;
}

footer {
    background-color: #f9faf5;
    padding: 20px;
    box-shadow: 0 0 45px grey;
}

.foot-nav {
    display: flex;
    flex-direction: column;
}

section h1 {
    color: #6d217a;
    font-weight: bold;
    font-size: 35px;
}

.certificates h2 {
    color: #6d217a;
}

.projects h2 {
    color: #6d217a;
}